@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    //Navigation
    var selection = Umbraco.ContentAtRoot().FirstOrDefault()
    .Children()
    .Where(x => x.IsVisible());

    // Globally setting values
    var globalConfig = Umbraco.ContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "globalConfigurations");
    string phoneNumber = "";
    string emailAddress = "";
    string streetAddress = "";

    if (globalConfig != null)
    {
        phoneNumber = globalConfig.Value<string>("headerPhonenumber");
        emailAddress = globalConfig.Value<string>("headerEmail");
        streetAddress = globalConfig.Value<string>("headerAddress");
    }
}

@* Condition for rendering correct class *@
<header @if (Model.Url() != "/" && Model.Url() != "/home")
{
    <text>id="newsheader"</text>
}>
    <img class="bg-lines" src="~/images/background-lines.svg" alt="background-lines">
    <section class="navigation">
        <div class="container">
            <a class="logo" href="#"><img src="~/images/logotype.svg" alt="logotype"></a>
            <nav>
                <div class="row-one">
                    <div class="info">
                        <span><i class="fa-regular fa-phone-volume"></i>@phoneNumber</span>
                        <span><i class="fa-regular fa-envelope"></i>@emailAddress</span>
                        <span><i class="fa-sharp fa-regular fa-location-dot"></i>@streetAddress</span>
                    </div>
                    <div class="socials">
                        <a href="@Model.Value("headerFacebook")"><i class="fa-brands fa-facebook"></i></a>
                        <a href="@Model.Value("headerTwitter")"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="@Model.Value("headerInstagram")"><i class="fa-brands fa-instagram"></i></a>
                        <a href="@Model.Value("headerLinkedin")"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="row-two">
                    <div class="navbar">
                        <a href="/">Home</a>
                        @foreach (var item in selection)
                        {
                                <a href="@item.Url()" >@item.Name()</a>
                        }
                    </div>
                    <a class="btn theme-btn" href="login.html">Login <i class="fa-solid fa-arrow-up-right"></i></a>
                </div>
            </nav>
        </div>
    </section>
    @* Condition for rendering the banner only for / *@
    @if (Model.Url() == "/" || Model.Url() == "/home")
    {
            <section class="banner">
                <div class="container">
                    <div class="headline">
                        <h1>@Model.Value("bannerHeadline")</h1>
                        <p>@Model.Value("bannerSubline")</p>
                        <div class="buttons">
                            <a href="" class="btn theme-btn">Get Consulting <i class="fa-solid fa-arrow-up-right"></i></a>
                            <a href="" class="btn grey-btn">Learn More <i class="fa-solid fa-arrow-up-right"></i></a>
                        </div>
                    </div>
                    <img src="~/images/showcase-image.svg" alt="">
                </div>
            </section>
    }
    @* Condition for rendering correct breadcrumb *@
    @if (Model.Url().StartsWith("/news/") && Model.Url() != "/news/")
    {
            <section class="newsarticles">
                <div class="container">
                    <div class="headline">
                        <h3>Home News</h3>
                        <h1>News & Articles</h1>
                    </div>
                </div>
            </section>
    }
    else if (Model.Url() != "/" && Model.Url() != "/home")
    {
        var breadcrumbTitle = Model.Value<string>("breadcrumbTitle") ?? "Default Title";
        var breadcrumbMainHeading = Model.Value<string>("breadcrumbMainHeading") ?? "Default Heading";

            <section class="newsarticles">
                <div class="container">
                    <div class="headline">
                        <h3>@breadcrumbTitle</h3>
                        <h1>@breadcrumbMainHeading</h1>
                    </div>
                </div>
            </section>
    }
</header>