@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    // Setting pagination
    var itemsPerPage = 3;
    var pageNumber = 1;

    if (!int.TryParse(Context.Request.Query["page"], out pageNumber))
        pageNumber = 1;

    var selection = Umbraco?.Content(Guid.Parse("fbbb803a-58ee-48b0-86d7-b2e3c6b9ddec"))?
        .ChildrenOfType("newsItemPage")?
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.CreateDate).ToList();

    var totalItems = selection?.Count ?? 0;
    var pagedItems = selection?.Skip((pageNumber - 1) * itemsPerPage).Take(itemsPerPage);
}


<!-- News -->
<section class="news" id="news-section">
    <div class="container">
        <div class="toprow">
            <div class="text">
                <h6>
                    Article & News
                </h6>
                <h3>Get Every Single Articles & News</h3>
            </div>
            <a href="/news" class="btn theme-btn">Browse Articles <i class="fa-solid fa-arrow-up-right"></i></a>
        </div>
        <div class="articles">
            @foreach (var item in pagedItems!)
            {
                var url = item.Url();
                var date = item.CreateDate;
                var image = item.Value<IPublishedContent>("newsImage");
                var category = item.Value("newsCategory");
                var title = item.Name();
                var preamble = item.Value("newsPreamble");

                <div class="article">
                    <div class="image">
                        <img src="@image?.Url()" width="420"
                             height="230" alt="">
                        <div class="date">
                            <div class="number">@date.ToString("dd")</div>
                            <div class="month">@date.ToString("MMM")</div>
                        </div>
                    </div>
                    <h6 class="category">@category</h6>
                    <a href="@url">
                        <h5 class="header">@title</h5>
                        <p class="body">@preamble</p>
                    </a>
                </div>
            }
        </div>
        <div class="carousel">
            @* Hide show prev page *@
            @if (pageNumber > 1)
            {
                <a href="?page=@(pageNumber - 1)#news-section" class="item-link link-prev mx-2" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa-sharp fa-solid fa-chevron-left"></i></span>
                </a>
            }

            @for (int i = 1; i <= Math.Ceiling((decimal)totalItems / itemsPerPage); i++)
            {
                if (i == pageNumber)
                {
                    <span href="#" class="item-link active mx-2"><i class="fa-solid fa-circle"></i></span>
                }
                else
                {
                    <span href="?page=@i" class="item-link mx-2"><i class="fa-solid fa-circle"></i></span>
                }
            }
            @* Hide show next page *@
            @if (pageNumber < Math.Ceiling((decimal)totalItems / itemsPerPage))
            {
                <a href="?page=@(pageNumber + 1)#news-section" class="item-link link-next mx-2" aria-label="Next">
                    <span aria-hidden="true"><i class="fa-sharp fa-solid fa-chevron-right"></i></span>
                </a>
            }
        </div>
    </div>
</section>