@using EC07_CMS_Umbraco_vs.Controllers;
@using EC07_CMS_Umbraco_vs.ViewModels;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Contact>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "_Main.cshtml";
    var contactForm = new ContactFormViewModel();

}

<!-- Contact Info -->
<main class="contactinfo">
    <section class="container">
        <div class="details">
            <div class="frame">
                <h3>Visit us</h3>
                <p>@Model.Value("contactAddress")</p>
            </div>
            <div class="frame">
                <h3>Call us</h3>
                <p>@Model.Value("contactPhone1")<br>@Model.Value("contactPhone2")</p>
            </div>
            <div class="frame">
                <h3>Email us</h3>
                <p>@Model.Value("contactEmail1")<br>@Model.Value("contactEmail2")</p>
            </div>
        </div>
        @using (Html.BeginUmbracoForm("HandleContactForm", "Contact", FormMethod.Post))
        {
            <div class="message">
                <h2>Leave us a message<br> for any information.</h2>
                <div asp-validation-summary="ModelOnly"></div>
                @if (TempData["FormSuccess"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["FormSuccess"]
                    </div>
                }
                <!-- Name -->
                <div class="form-group">
                    <span style="color:red;font-weight:bolder;" class="red-text" asp-validation-for="@contactForm.Name"></span>
                    <input asp-for="@contactForm.Name" class="form-control" type="text" placeholder="Name*" maxlength="80" />
                </div>

                <!-- Email -->
                <div class="form-group">
                    <span style="color:red;font-weight:bolder; " asp-validation-for="@contactForm.EmailAddress"></span>
                    <input asp-for="@contactForm.EmailAddress" class="form-control" type="email" placeholder="Email*" maxlength="255" />
                </div>

                <!-- Comment -->
                <div class="form-group">
                    <span style="color:red;font-weight:bolder; " asp-validation-for="@contactForm.Comment"></span>
                    <input asp-for="@contactForm.Comment" class="form-control msg" type="text" placeholder="Your message*" maxlength="500">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn theme-btn">Send Message <i class="fa-solid fa-arrow-up-right"></i></button>
                </div>
            </div>
        }
    </section>
    
    

    
    <section>
        <iframe 
        class="map" 
        title='googlemaps' 
        src="@Model.Value("googleMapsUrl")" 
        allowFullScreen="" 
        loading="lazy" 
        referrerPolicy="no-referrer-when-downgrade">

        </iframe>
    </section>
</main>


