@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "_Main.cshtml";
}

<section class="logos container" role="region">
    @foreach(var logoBlock in Model.Logos)
    {
        var logo = logoBlock.Content as LogoItem;

        if(logo != null)
        {
            var mediaItem = logo.LogoImage;

            if(mediaItem != null)
            {
                var imageUrl = mediaItem.Url();
                <img src="@imageUrl" alt="@logo.LogoAltText" />
            }
        }
    } 
</section>

<!--FEATURES-->
@{
    var heading = Model.FeatHeadline;
    var subheading = Model.FeatSubheading;
    var learnMoreLink = Model.LearnMoreLink;
}
<section class="features container" role="region">
    <div class="learn">
        <p>@subheading</p>
        <h1>@heading</h1>
        <a class="btn theme-btn" href="@learnMoreLink">Learn More <i class="fa-solid fa-arrow-up-right"></i></a>
    </div>
    <div class="info">
        @foreach (var featureBlock in Model.FeatList)
        {
            var feature = featureBlock.Content as FeatListItem;

            if (feature != null)
            {
                <article class="feature-item">
                    <i class="fa-regular @feature.Icon"></i>
                    <h4>@feature.FeatListItemTitle</h4>
                    <p>@feature.FeatListItemDescription</p>
                </article>
            }
        }
    </div>
</section>

<!-- ABOUT COMPANY -->
<section class="about container" role="region">
    <div class="pic">
        @{
            var mediaItem2 = Model.AboutImage;
            var imageUrl2 = mediaItem2.Url();
        }
        <img class="daria" src="@imageUrl2"
            alt="@Model.Value("aboutImageAltText")" height="615" width="533">
        <div class="frame">
            <h4>@Model.Value("aboutImageTextName"), <span>@Model.Value("aboutImageTextNameTitle")</span></h4>
            <p>"@Model.Value("aboutImageTextBody")"</p>
        </div>
    </div>
    <div class="consulting">
        <div>
            <h6>@Model.Value("aboutSubHeadline")</h6>
            <h3>@Model.Value("aboutHeadline")</h3>
        </div>
        <p>@Model.Value("aboutBody1")</p>
        <p>@Model.Value("aboutBody2")</p>
        <div class="buttons">
            <a href="#" class="btn dark-btn">Learn More <i class="fa-solid fa-arrow-up-right"></i></a>
            <a href="#" class="btn grey-btn"><i class="fa-solid fa-play"></i>Intro Video</a>
        </div>
    </div>
</section>


<!-- OUR SERVICES -->
<section class="services">
    <img class="bg-lines" src="~/images/background-lines.svg" alt="background lines">
    <div class="container">
        <h6>@Model.Value("serviceSubheadline")</h6>
        <h3>@Model.Value("serviceHeadline")</h3>
        <div class="cards">
            
            @foreach (var serviceBlock in Model.ServiceList)
            {
                var service = serviceBlock.Content as ServiceListItem;
            
                <div class="card-custom">
                    <div class="underline"></div>
                    <h5>@service.ServiceListItemHeadline</h5>
                    <p class="body">@service.ServiceListItemBody</p>
                    <div class="basecircle"><a href="" class="arrow"><i class="fa-light fa-arrow-right"></i></a></div>
                </div>
            
            }
        </div>
        <div class="button">
            <a href="" class="btn grey-btn">Browse Services <i class="fa-solid fa-arrow-up-right"></i></a>
        </div>
    </div>
</section>

<!--WHY-->
    <section class="why">
        <div class="container">
            <div class="text-content">
                <h6 class="subtitle">@Model.Value("whySubline")</h6>
                <h3 class="title">@Model.Value("whyHeadline")</h3>
                <div class="list">
                    @foreach (var whyBlock in Model.WhyList)
                    {
                        var why = whyBlock.Content as WhyListItem;
                        <div class="item">
                            <i class="icon fa-regular @why.WhyListItemIcon"></i>
                            <div class="text">
                                <h3 class="item-title">@why.WhyListItemHeadline</h3>
                                <p class="item-description">@why.WhyListItemBody</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="images">
                <div class="frame"></div>
                @{
                    var mediaItem3 = Model.WhyImage;
                    var imageUrl3 = mediaItem3.Url();
                }
                <img src="@imageUrl3" alt="" class="photo">
            </div>
        </div>
    </section>
    
    
    <!-- Project -->
    <section class="project">
        <div class="container">
            <h6>@Model.Value("proSubline")</h6>
            <h3>@Model.Value("proHeadline")</h3>
            <div class="cards">
                @foreach (var projectBlock in Model.ProList)
                {
                    var pro = projectBlock.Content as ProListItem;
                    var mediaItem4 = pro.ProListImage;
                    var imageUrl4 = mediaItem4.Url();
                    
                    <div class="card-custom">
                        <img src="@imageUrl4" alt="">
                        <h5>@pro.ProListHeadline</h5>
                        <p></p>
                        <a href="" class="btn light-btn">Read More <i class="fa-solid fa-arrow-up-right"></i></a>
                    </div>
                }
            </div>
            <a href="" class="btn dark-btn">All Recent Projects <i class="fa-solid fa-arrow-up-right"></i></a>
        </div>
    </section>
    
    <!-- Team -->
    <section class="team">
        <div class="container">
            <div class="toprow">
                <div class="text">
                    <h6>@Model.Value("teamSubline")</h3>
                    <h3>@Model.Value("teamHeadline")</h3>
                </div>
                <a href="" class="btn theme-btn">Browse Team <i class="fa-solid fa-arrow-up-right"></i></a>
            </div>
            <div class="team-cards">
                
                @foreach (var teamBlock in Model.TeamList)
                {
                    var team = teamBlock.Content as TeamListItem;
                    var mediaItem5 = team.TeamListItemImage;
                    var imageUrl5 = mediaItem5.Url();
                    
                    <div class="card-custom">
                        <img width="308" height="420"
                            src="@imageUrl5" alt="">
                        <h5>@team.TeamListItemName</h5>
                        <p>@team.TeamListItemRole</p>
                    </div>
                }
                
            </div>
            <div class="carousel">
                <span><i class="fa-solid fa-circle"></i></span>
                <span><i class="fa-solid fa-circle"></i></span>
                <span><i class="fa-solid fa-circle"></i></span>
                <span><i class="fa-solid fa-circle"></i></span>
                <span><i class="fa-solid fa-circle"></i></span>
            </div>
            <div class="testemonial">
                <div class="frame">
                    <h6>@Model.Value("testimonialSubline")</h6>
                    <h3>@Model.Value("testimonialHeadline")</h3>
                    <div class="reviews">
                        
                        @foreach (var testimonialBlock in Model.TestimonialList)
                        {
                            var testimonial = testimonialBlock.Content as TestimonialListData;
                            var mediaItem6 = testimonial.TestimonialListImage;
                            var imageUrl6 = mediaItem6.Url();
                            
                            <div class="review">
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <div class="comment">
                                    <p>@testimonial.TestimonialListComment</p>
                                </div>
                                <div class="customer">
                                    <img height="70" width="70" src="@imageUrl6" alt="">
                                    <div>
                                        <h3>@testimonial.TestimonialListName</h3>
                                        <h6>@testimonial.TestimonialListRole</h6>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <a href="" class="btn dark-btn">All Reviews <i class="fa-light fa-arrow-up-right"></i></a>
                </div>
            </div>
        </div>
    </section>